/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active {
    outline: none;
}
a:focus,a:active {
    outline: none;
}
nav,footer,header,aside {
    display: block;
}
html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
}
html,body {
    font-family: Heebo;
    line-height: 1;
    font-size: 16px;
    font-weight: normal;
    line-height: 147%;
    color: #21243D;
    background-color: #fff;
}

/*---ОСНОВНАЯ СЕТКА---------------------------------------------------------------------------------------------*/
.container {
    max-width: 856px;
    margin: 0 auto;
}
/*
.container {
    max-width: 1152px;
    margin: 0 auto;
}
*/
@media (max-width: 868px) {
    .container {
        max-width: 856px;
        padding: 0px 10px;
    }
}
/*
@media (max-width: 991.98px) {
    .container {
        max-width: 750px;
    }
}*/
@media (max-width: 767.98px) {
    .container {
        max-width: none;
        padding: 0px 10px;
    }
}

@media (max-width: 359.98px) {
    .container {
        max-width: none;
        padding: 0px 10px;
    }
}

.page {
    padding: 90px 0px 0px 0px;
    flex: 1 1 auto;
}

@media (max-width:767.98px) {
    .page {
        padding: 30px 0px 0px 0px;
    }
}

/*---WRAPPER---------------------------------------------------------------------------------------------*/

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.btn {
    display: inline-flex;
    padding: 0px 20px;
    background-color: #FF6464;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 145%;
    color: #FFFFFF;
    height: 47px;
}

.btn:hover {
    transition: background-color 0.3s ease 0s;
    background-color: #00A8CC;
}

.title {
    font-weight: 700;
    font-size: 44px;
    line-height: 136%;
}

@media (max-width:767.98px) {
    .title {
        font-size: 32px;
        line-height: 125%;
    }
}

.text {

}

.title-posts {
    font-size: 22px;
}

@media (max-width: 767.98px) {
    .title-posts {
        text-align: center;
        font-size: 18px;
    }
}

.ibg {
    position: relative;
}

.ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*---HEADER---------------------------------------------------------------------------------------------*/

.header {}

.header__content {
    max-width: 1052px;
    padding: 0px 10px;
}

.header__menu {}

.menu {}

.menu__icon {}

.icon-menu {
    display: none;
}

@media (max-width:767.98px) {
    .icon-menu {
        display: block;
        position: absolute;
        top: 18px;
        right: 10px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
    }
    .icon-menu span {
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: 0px;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;
    }
    .icon-menu span:first-child {
        top: 0px;
    }
    .icon-menu span:last-child {
        top: auto;
        bottom: 0px;
    }
    .icon-menu span:active {
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: 0px;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;
    }
    .icon-menu span:first-child:active {
        top: 0px;
    }
    .icon-menu span:last-child:active {
        top: auto;
        bottom: 0px;
    }
    .header {
        position: relative;
        width: 100%;
        height: 50px;
        top: 0;
        left: 0;
        background-color: #FFFFFF;

    }
}

@media (max-width:767.98px) {
    .menu__body {
        display: none;
    }
}

.menu__body {

}

.menu__list {
    display: flex;
    justify-content: flex-end;
    height: 82px;
    padding: 10px 0;
    align-items: center;
}

.menu__list li {
    margin-left: 34px;
}

.menu__link {
    font-weight: 500;
    font-size: 20px;
    color: #000;
}

.link-active {
    color: #FF6464;
}

@media (min-width: 991.98px) {
    .menu__link:hover {
        color: #FF6464;
        transition: color 0.3s ease 0s;
    }
}

/*---HELLO---------------------------------------------------------------------------------------------*/

.hello {
    padding: 38px 0px 70px 0px;
}

@media (max-width: 867.98px) {
    .hello {
        padding: 90px 0px 70px 0px;
    }
}

@media (max-width: 359.98px) {
    .hello {
        padding: 0px 0px 60px 0px;
    }
}

.hello__container {
    display: flex;
}

.hello__content {
    flex: 1 1 auto;
    padding: 18px 110px 0px 0px;
    align-items: flex-start;
}

@media (max-width: 867.98px) {
    .hello__content {
        padding: 18px 50px 0px 0px;
    }
}

.hello__content:last-child {
    margin-bottom: 0;
}

.hello__title {
    margin-bottom: 26px;
}

.hello__text {
    margin-bottom: 32px;
}

.hello__btn {
    margin: 0px 0px 25px 0px;
}

.hello__avatar {
    flex: 0 0 243px;
    height: 243px;
    position: relative;
    border-radius: 50%;
    box-shadow: -5px 13px 0px 0px #EDF7FA;
}

.hello__avatar img {
    max-width: 100%;
}

@media (max-width:767.98px) {
    .hello {
        padding: 0px 0px 70px 0px;
    }
    .hello__container {
        text-align: center;
        flex-direction: column-reverse;
        align-items: center;
    }
    .hello__content {
        padding: 0px 0px 0px 0px;
    }
    .hello__avatar {
        flex: none;
        width: 170px;
        height: 170px;
        margin: 0px 0px 40px 0px;
    }
    .hello__title {
        margin-bottom: 20px;
    }
    .hello__text {
        margin-bottom: 25px;
        padding: 0px 15px;
    }
    .hello__btn {
        margin: 0px 0px 20px 0px;
    }
}

/*---RECENT-POSTS---------------------------------------------------------------------------------------------*/

.recent-posts {
    background-color: #EDF7FA;
    padding: 25px 0px 13px 0px;
}

.recent-posts__container {}

.recent-posts__header {
    display: flex;
    margin: 0px 0px 20px 0px;
}

.recent-posts__title {
    flex: 1 1 auto;
    padding: 0px 20px 0px 0px;
}

.recent-posts__view-all {
    flex: 0 0 auto;
    font-size: 16px;
    line-height: 24px;
    color: #00A8CC;
}

.recent-posts__items {
    margin: 0px -10px;
}

.recent-posts__column {
    flex: 0 1 50%;
    padding: 0px 10px;
    margin: 0px 0px 17px 0px;
}

.recent-posts__item {}

.recent-post {
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding: 20px;
}

.recent-post:last-child {
    margin-bottom: 0;
}

.recent-post__title {
    color: inherit;
    font-weight: 700;
    font-size: 26px;
    line-height: 147%;
    display: inline-block;
    margin: 0px 0px 17px 0px;
}

@media (min-width: 991.98px) {
    .recent-post__title:hover {
        color: #FF6464;
        transition: color 0.3s ease 0s;
    }
}

@media (min-width: 767.98px) {
    .recent-posts__items {
        display: flex;
    }
}

.recent-post__info {
    font-size: 18px;
    margin: 0px 0px 15px 0px;
}

.recent-post__info span {
    font-size: 18px;
    margin: 0px 10px;
}

.recent-post__text {

}

.text {}

@media (max-width: 767.98px) {
    .recent-posts__view-all {
        display: none;
    }
    .recent-posts__title {
        padding: 0px 0px 0px 0px;
    }
    .recent-posts {
        padding: 25px 0px 23px 0px;
    }
    .recent-post__title {
        font-size: 22px;
    }
    .recent-post__info {
        font-size: 16px;
        margin: 0px 0px 10px 0px;
    }
    .recent-post {
        padding: 15px;
    }
}

/*---FEATURED-WORKS---------------------------------------------------------------------------------------------*/

.featured-works {
    padding: 30px 0px 80px 0px;
}

.featured-works__container {}

.featured-works__title {
    margin: 0px 0px 20px 0px;
}

.title-posts {}

.works {}

.works__items {
    padding-bottom: 60px;
}

.works__item {
    padding: 0px 0px 30px 0px;
    margin: 0px 0px 30px 0px;
    border-bottom: 1px solid #E0E0E0;
}

.works__item:last-child {
    margin: 0px 0px 0px 0px;
}

@media (min-width: 767.98px) {
    .works__item {
        display: flex;
        align-items: flex-start;
    }
}

.works__image {
    flex: 0 0 246px;
    display: block;
    border-radius: 6px;
    min-height: 180px;
    overflow: hidden;
}

.works__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 18px;
}

@media (min-width: 767.98px) {
    .works__body {
        padding: 0px 0px 0px 18px;
    }
}

.works__title {
    color: inherit;
    font-size: 30px;
    font-weight: 700;
    line-height: 147%;
    margin: 0px 0px 15px 0px;
}

@media (min-width: 991.98px) {
    .works__title:hover {
        color: #FF6464;
        transition: color 0.3s ease 0s;
    }
}

.works__main-title {
    margin: 0px 0px 45px 0px;
}

.works__info {
    display: flex;
    align-items: center;
    margin: 0px 0px 15px 0px;
}

.works__year {
    background: #142850;
    border-radius: 16px;
    height: 25px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
}

.works__category {
    font-size: 20px;
    line-height: 147%;
    color: #8695A4;
    margin: 0px 0px 0px 25px;
}

@media (max-width: 767.98px) {
    .featured-works {
        padding: 30px 0px 30px 0px;
    }
    .featured-works__items {
        display: flex;
        overflow: auto;
    }
    .works__item {
        flex: 0 0 90%;
        margin: 0px 15px 0px 0px;
    }
    .works__image {
        padding: 0px 0px 50% 0px;
        margin: 0px 0px 17px 0px;
    }
    .works__title {
        font-size: 24px;
        line-height: 125%;
    }
    .works__year {
        padding: 0px 12px;
        font-size: 16px;
    }
    .works__category {
        font-size: 16px;
    }
    .works__main-title {
        margin: 0px 0px 20px 0px;
    }
    .works__items {
        padding-bottom: 30px;
    }
}

.works__text {}

/*---FOOTER---------------------------------------------------------------------------------------------*/

.footer {
    text-align: center;
    padding: 50px 0px;
}

@media (max-width: 767.98px) {
    .footer {
        padding: 30px 0px;
    }
}

.footer__container {}

.container {}

.footer__social {
    margin: 0px 0px 25px 0px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__item {
    margin: 0px 17px;
    font-size: 30px;
    color: inherit;
}

@media (min-width: 991.98px) {
    .social__item:hover {
        color: #FF6464;
        transition: color 0.3s ease 0s;
    }
}

._icon-facebook {}

._icon-instagram {}

._icon-twitter {}

._icon-linkedin {}

.footer__copy {}

/*---BLOG---------------------------------------------------------------------------------------------*/

.blog {
    padding-bottom: 0px 0px 50px 0px;
}

.blog__title {
    margin: 0px 0px 50px 0px;
}

.page__container {}

.container {}

.title {}

.blog__items {}

.blog__item {
    padding: 0px 0px 30px 0px;
    margin: 0px 0px 30px 0px;
    border-bottom: 1px solid #E0E0E0;
}

.blog__item:last-child {
    margin: 0px 0px 30px 0px;
}

.blog__article-name {
    display: inline-block;
    color: inherit;
    font-weight: 500;
    font-size: 30px;
    line-height: 147%;
    margin: 0px 0px 10px 0px;
}

@media (min-width: 991.98px) {
    .blog__article-name:hover {
        color: #FF6464;
        transition: color 0.3s ease 0s;
    }
}

.blog__info {
    display: flex;
    margin: 0px 0px 10px 0px;
}

.blog__date {
    font-size: 20px;
    line-height: 147%;
}

.blog__separator {
    margin: 0px 15px;
}

.blog__category {
    font-size: 20px;
    color: #8695A4;
    line-height: 147%;
}

.blog__text {}

.text {}

@media (max-width: 767.98px) {
    .blog {
        padding-bottom: 0px 0px 30px 0px;
    }
    .blog__article-name {
        font-size: 26px;
    }
    .blog__info {
        font-size: 16px;
    }
    .blog__item {
        padding: 0px 0px 25px 0px;
        margin: 0px 0px 25px 0px;
    }
    .blog__title {
        margin: 0px 0px 20px 0px;
    }
}

/*---ARTICLE---------------------------------------------------------------------------------------------*/

.article {
    max-width: 700px;
    padding: 0px 10px;
    margin: 0 auto;
}

.article__main-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 147%;
    margin: 30px;
    margin: 0px 0px 30px 0px;
}

.article__info {
    display: flex;
    margin: 0px 0px 20px 0px;
}

.article__year {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    height: 25px;
    font-weight: 900;
    font-size: 18px;
    color: #fff;
    background: #FF7C7C;
    border-radius: 16px;
}

.article__category {
    align-self: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 147%;
    margin: 0px 0px 0px 20px;
}

.article__text p {
    margin: 0px 0px 20px 0px;
}

.text {}

.article__image {
    max-width: 100%;
    margin: 0px 0px 20px 0px;
}

@media (max-width: 767.98px) {
    .article__category {
        font-size: 18px;
    }
    .article__main-title {
        font-size: 30px;
            margin: 30px;
            margin: 0px 0px 30px 0px;
    }
}